html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

/*Estiles muestra comics*/

.contenido{
    margin-top: 5%;
    margin-bottom: 0%;
}
mat-grid-list{
    width: 85%;
    margin: auto;
}
mat-grid-tile{
    cursor: pointer;
    border-radius: 16px;
    background-color: aqua;
}

mat-grid-tile:hover .overlay {
    opacity: 1;
}

mat-grid-tile:hover .overlay-fav {
    opacity: 1;
}

/*Imagenes Grid*/
.img-grid{
    width: 100%;
    height: 100%;
}
.mat-grid-tile-content {
    display: flow-root !important;
}

.overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(47, 86, 212, 0.8); /*Black see-through */
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 28px;
    font-weight: bolder;
    padding: 20px;
    text-align: center;
    line-height: 1;
  }

  .overlay-fav{
    position: absolute;
    background: rgba(47, 86, 212, 0.8); 
    top: 0;
    right: 0;
    transition: .5s ease;
    opacity:0;
    padding: 20px;
    color: white;
  }


/*
* Edición de propiedades del css de Material
* No quitar de style.css, porque sino no se edita el custom de Material Design.
*/
.mat-menu-panel {
    width: 100%;
    background-color: #a4a8c0;
}

.cdk-overlay-pane {
    width: 40%;
}
.mat-menu-item {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-weight: 400;
}

/*Para editar la barra de buscar.*/

.mat-form-field-flex {
    display: inline-flex;
    align-items: baseline;
    box-sizing: border-box;
    width: 230% !important;
}

.mat-form-field {
    font-size: 21px;
    font-weight: 400;
    line-height: 1.125;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
}

/*.mat-form-field-flex {
    padding: 0 0.75em 0px 0.75em;
    margin-top: 9% !important;
    margin-left: 20px;
    position: relative;
} */

/*Fin Edición*/

