/*
**** PALETA DE COLORES****
* Fondo navbar: rgb(88, 87, 87)
* Fondo Menu: E5E2E2
* Fondo imagen: lightblue
* Color Letras Nombre Manga: #E5E2E2
* Body background color: rgb(237, 238, 238)
*/

html, body { 
    height: 100%;
    background-color: rgb(237, 238, 238);
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

/*
* Edición de propiedades del css de Material
* No quitar de style.css, porque sino no se edita el custom de Material Design.
*/
.mat-menu-panel {
    width: 100%;
    background-color: rgb(229, 226, 226);
}

.cdk-overlay-pane {
    width: 40%;
}
.mat-menu-item {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-weight: 400;

}

/*Fin Edición*/