<h1 mat-dialog-title>{{this.data.dataKey.name}}</h1>
<mat-card>
  <img class="portada" [src]="this.data.dataKey.img">
  <mat-card-content class="sinopsis">
    <p>
      {{this.data.dataKey.description}}
    </p>
  </mat-card-content>
  <mat-card-header>
    <mat-card-title>{{this.data.dataKey.autor}}</mat-card-title>
    <mat-card-subtitle>Autor</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button mat-button (click)="verPreview(this.data.dataKey.preview)">Ver Preview</button>
  </mat-card-actions>
</mat-card>