<div (mouseover)="zoom()" (mouseout)="zoom()">
    <img class="img-grid" [src]="infoComic.img" [@zoom]="izoom ? 'open' : 'closed'" (click)="openDialog(infoComic)">
    <div class="overlay-fav" (click)="anadirFavoritos(infoComic)" (mouseover)="toggle()" (mouseout)="toggle()">
        <mat-icon id={{infoComic.id}} [@openClose]="isOpen ? 'open' : 'closed'"
            [ngStyle]="{'color': infoComic.fav==true ? 'yellow':'white'}" aria-hidden="false">star</mat-icon>
    </div>
    <div class="overlay" (mouseover)="mostra()" (mouseout)="mostra()">{{infoComic.name}}
        <div [ngStyle]="{'color': 'yellow'}" [@mostrarautor]="mautor ? 'open' : 'closed'">{{infoComic.autor}}</div>
    </div>
</div>