<!-- Toolbar -->

<div class="navbar">
  <button class="menubutton" mat-button [matMenuTriggerFor]="menu">
    <img src="https://img.icons8.com/ios/50/000000/menu--v1.png" /></button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item class="itemnav">Buscar Manga</button>
    <button mat-menu-item class="itemnav">Ver Lista Favoritos</button>
    <button mat-menu-item class="itemnav">Cambiar Vista</button>
  </mat-menu>
  <div id="nombreApp">Nombre Provisional</div>
</div>

<div class="contenido">
  <mat-grid-list cols="4" rowHeight="1:1"[gutterSize]="'10px'">
    <mat-grid-tile><img src="images/rengoku.jpeg" alt=""></mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>1</mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
  </mat-grid-list>
</div>