<!-- Toolbar -->

<div class="navbar">
  <button class="menubutton" mat-button [matMenuTriggerFor]="menu">
    <img src="assets/botomenu1.png" /></button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item class="itemnav">Buscar Manga</button>
    <button mat-menu-item class="itemnav">Ver Lista Favoritos</button>
    <button mat-menu-item class="itemnav">Cambiar Vista</button>
  </mat-menu>
  <div id="nombreApp">Nombre Provisional</div>
</div>

<!--Grid de mangas-->

<div class="contenido">
  <mat-grid-list cols="4" rowHeight="1:1.5"[gutterSize]="'20px'">
    <mat-grid-tile *ngFor="let tile of tiles">
    <img class="img-grid" [src]="tile.img">
    <div class="overlay">{{tile.name}}</div>
  </mat-grid-tile>
  </mat-grid-list>
</div>

