<!-- Toolbar -->

<div class="navbar">
  <button class="menubutton" mat-button [matMenuTriggerFor]="menu">
    <img src="assets/botomenu1.png" />
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/info" routerLinkActive="active">Buscar Manga</button>
    <button mat-menu-item>Ver Lista Favoritos</button>
    <button mat-menu-item>Cambiar Vista</button>
  </mat-menu>
  <div id="nombreApp">Nombre Provisional</div>
</div>

<!-- 
<div (mouseover)="changeText=true" (mouseout)="changeText=false">
  <span *ngIf="!changeText">Hide</span>
  <span *ngIf="changeText">Show</span>
</div>  -->
<!-- ESTO ES PARA MOSTRAR LA PREVIEW DE UNA VISTA -->

<router-outlet></router-outlet>