.navbar{
    /* background-color: rgb(47, 171, 212); */
    background-color: #3F51B5;
    height: 10%;
    color: #E5E2E2;
    font-weight: bold;
    letter-spacing: 3px;
}

.menubutton {
    border: none;
    background-color: #3F51B5;
}
.menubutton>img{
    width: 78%;
}
#nombreApp{
    font-size: 25px;
}
