<!--SEARCH BAR -->
<div class="generos-checkbox">
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Buscar Comics</mat-label>
      <input [(ngModel)]="titulo" matInput placeholder="Escribe para buscar tus comics...">
      <mat-icon color="primary" matSuffix>search</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Buscar Autor</mat-label>
      <input [(ngModel)]="autor" matInput placeholder="Escribe para buscar el comic por autor...">
      <mat-icon color="primary" matSuffix>search</mat-icon>
    </mat-form-field>
  </p>

  <!--FILTRO GÉNEROS -->
  <div>
    <section class="check" *ngFor="let genero of generos">
      <!-- <mat-checkbox (change)="obtenerChecked($event)" color="primary">{{genero.label}}</mat-checkbox> -->
      <input type="checkbox" (change)="obtenerChecked($event,genero.label)" color="primary">{{genero.label}}
    </section>
    <!-- <button mat-raised-button color="primary">Aplicar Filtro</button> -->
  </div>
</div>


<!--CONTENIDO COMICS -->
<div class="contenido">
  <mat-grid-list cols="4" rowHeight="1:1.5" [gutterSize]="'20px'">
    <mat-grid-tile *ngFor="let comic of comics | filter:titulo:autor:setGeneros">
      <app-comic-template [infoComic]="comic">

      </app-comic-template>
    </mat-grid-tile>
  </mat-grid-list>
</div>